<% layout('/layouts/boilerplate') -%>

<body>
  <div class="py-5">
    <h3>Update Listings</h3>
    <br />
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <input
        class="form-control"
        type="text"
        value="<%=listing.title  %>"
        name="listing[title]"
      />
      <br />
      <textarea
        class="form-control"
        name="listing[description]"
        cols="30"
        rows="5"
      >
<%=listing.description  %></textarea
      >
      <br />

      <input
        class="form-control"
        type="text"
        value="<%=listing.image  %>"
        name="listing[image]"
      />
      <br />

      <input
        class="form-control"
        type="number"
        value="<%=listing.price  %>"
        name="listing[price]"
      />
      <br />
      <input
        class="form-control"
        type="text"
        value="<%=listing.location  %>"
        name="listing[location]"
      />
      <br />
      <input
        class="form-control"
        type="text"
        value="<%=listing.country  %>"
        name="listing[country]"
      />
      <br />
      <button class="col-12 btn btn-danger" type="submit">Update</button>
    </form>
  </div>
</body>
