<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> listings</title>
  </head>
  <body>
     <ul style="padding: 50PX;">
      <li><%= listing.title %></li>
      <li><%= listing.description %></li>
      <li>&#8360; <%= listing.price.toLocaleString("en-PK") %></li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
      <br><br>
       <a href="/listings/<%=listing._id  %>/edit">Edit Lists</a>
 
    </ul>

   
       
</html>
